<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
   <display-name>Crud Web Livraria</display-name>
 
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/crud_web_livraria?serverTimezone=UTC</param-value>
    </context-param>
 
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
    </context-param>
 
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value></param-value>
    </context-param>
 
    <servlet>
        <servlet-name>LivrosController</servlet-name>
        <servlet-class>crudweblivraria.controllers.LivrosController</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>LivrosController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
 
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Error.jsp</location>
    </error-page>

</web-app>